.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-header .home{
    font-size: 24px;
    font-weight: 200;
    color: darkblue;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
}

.recipe.profile-image {
    height: auto;
    width: 600px
}